* {
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 1rem;
}

.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}
